<!doctype html>
<html>
    <head><!--メイン-->
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/style.css">
        <title>{{ title }}</title>
    </head>
    <body class="bg-success">
        <script src="../static/js/bootstrap.bundle.js"></script>
        <h1 class="text-center text-danger">{{ page_title }}</h1>
        <hr>
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='WebPiano.js') }}"></script>
        <script type='text/javascript' src={{ url_for('static', filename='js/abcjs-basic-min.js')}}></script>
    </body>
</html>
