{% extends "base.html" %}

{% block content %}
    <div class="bigsize">
        <p>今日は{{ time }}です。</p>
        <p><img src="../static/bit composer logo.png"></p>
        <p class="text-center"><a class="h2 mx-auto link-warning text-decoration-none" href="{{ url_for('bcmidi') }}">midiを読み込む</a></p>
        <p class="text-center"><a class="h2 mx-auto link-warning text-decoration-none" href="{{ url_for('bckey') }}">鍵盤で作る</a></p>
        <p class="text-center"><a class="h2 mx-auto link-warning text-decoration-none" href="{{ url_for('outputmp3')}}">mp3を流す</a></p>
    </div>
    <p class="h1 text-primary text-center">今日は{{ time }}です。</p>
    <p><img class="d-block mx-auto" src="../static/bit composer logo.png"></p>
   
{% endblock %}