{% extends "bcbase.html" %}

{% block content %}
<!DOCTYPE html>
<head>
    <meta charset = 'utf-8'>
    <script type='text/javascript' src={{ url_for('static', filename='js/abcjs-basic-min.js')}}></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>
<body>
    <form action="/key/syori" method="POST">
        <div id="container-wrap">
            <div id='container'></div>
        </div>
        <textarea id='input_notes' name="onpu" readonly="readonly" required></textarea>
    
    <div id="piano-container">
        <div id="piano-wrap">
            <div class="piano-key white-key" data-key-num="0"><span class="key-label">A</span></div><!-- ラ A -->
            <div class="piano-key black-key" data-key-num="1"><span class="key-label">Q</span></div><!-- ラ# Q-->
            <div class="piano-key white-key" data-key-num="2"><span class="key-label">S</span></div><!-- シ S-->
            <div class="piano-key white-key" data-key-num="3"><span class="key-label">D</span></div><!-- ド D-->
            <div class="piano-key black-key" data-key-num="4"><span class="key-label">W</span></div><!-- ド# W-->
            <div class="piano-key white-key" data-key-num="5"><span class="key-label">F</span></div><!-- レ F-->
            <div class="piano-key black-key" data-key-num="6"><span class="key-label">E</span></div><!-- レ# E-->
            <div class="piano-key white-key" data-key-num="7"><span class="key-label">G</span></div><!-- ミ G-->
            <div class="piano-key white-key" data-key-num="8"><span class="key-label">H</span></div><!-- ファ H-->
            <div class="piano-key black-key" data-key-num="9"><span class="key-label">R</span></div><!-- ファ# R-->
            <div class="piano-key white-key" data-key-num="10"><span class="key-label">J</span></div><!-- ソ J-->
            <div class="piano-key black-key" data-key-num="11"><span class="key-label">T</span></div><!-- ソ# T-->
            <div class="piano-key white-key" data-key-num="12"><span class="key-label">K</span></div><!-- ラ K-->
            <div class="piano-key black-key" data-key-num="13"><span class="key-label">Y</span></div><!-- ラ# Y-->
            <div class="piano-key white-key" data-key-num="14"><span class="key-label">L</span></div><!-- シ L-->
            <div class="piano-key white-key" data-key-num="15"><span class="key-label">;</span></div><!-- ド ;-->
            <div class="piano-key black-key" data-key-num="16"><span class="key-label">U</span></div><!-- ド# U-->
            <div class="piano-key white-key" data-key-num="17"><span class="key-label">Z</span></div><!-- レ Z-->
            <div class="piano-key black-key" data-key-num="18"><span class="key-label">I</span></div><!-- レ# I-->
            <div class="piano-key white-key" data-key-num="19"><span class="key-label">X</span></div><!-- ミ X-->
            <div class="piano-key white-key" data-key-num="20"><span class="key-label">C</span></div><!-- ファ C-->
            <div class="piano-key black-key" data-key-num="21"><span class="key-label">O</span></div><!-- ファ# O-->
            <div class="piano-key white-key" data-key-num="22"><span class="key-label">V</span></div><!-- ソ V-->
            <div class="piano-key black-key" data-key-num="23"><span class="key-label">P </span></div><!-- ソ# P-->
            <div class="piano-key white-key" data-key-num="24"><span class="key-label">B</span></div><!-- ラ B-->
            <div class="piano-key black-key" data-key-num="25"><span class="key-label">@ </span></div><!-- ラ# @-->
            <div class="piano-key white-key" data-key-num="26"><span class="key-label">N </span></div><!-- シ N-->
            <div class="piano-key white-key" data-key-num="27"><span class="key-label">M</span></div><!-- ド M-->
            <div class="piano-key black-key" data-key-num="28"><span class="key-label">[</span></div><!-- ド# [-->
            <div class="piano-key white-key" data-key-num="29"><span class="key-label">,</span></div><!-- レ -->
        </div>
    </div>
    <div>
        <input type="number" id="bpm" name='bpm' value="120" min="60" max="240">
        <button type="button" id='zen' class="btn btn-primary" onclick="but_leng(this);">全</button>
        <button type="button" id='2' class="btn btn-primary" onclick="but_leng(this);">2分</button>
        <button type="button" id='4' class="btn btn-primary" onclick="but_leng(this);">4分</button>
        <button type="button" id='8' class="btn btn-primary" onclick="but_leng(this);">8分</button>
        <button type="button" id='16' class="btn btn-primary" onclick="but_leng(this);">16分</button>
    </div>
    <button type="submit" id='commit' class="btn btn-primary">送信</button>
    </form>
    <p><a href="{{ url_for('welcome') }}">戻る</a></p>
    <script type='text/javascript'>
        new ABCJS.Editor('input_notes', { paper_id: "container"});
    </script>
</body>
    
{% endblock %}