{% extends "bcbase.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <script type='text/javascript' src={{ url_for('static', filename='js/abcjs-basic-min.js')}}></script>
</head>
<body>
    <form action="/str/syori" method="POST">
        <input type="input" id="input_notes" name="onpu" required>
        <button type="submit" class="btn btn-primary">送信</button>
    </form>
    <div id=notes></div>

    <p><a href="{{ url_for('welcome') }}">戻る</a></p>
    <script>
        new ABCJS.Editor("input_notes", { paper_id: "notes" });
    </script>
</body>
   
</html>
    
{% endblock %}
