{% extends "bcbase.html" %}
<!DOCTYPE html>
  <head>
    <meta charset = 'utf-8'>
    
    
{% block content %}
    <!--ロード前-->
    <p><audio controls src={{ url_for('static', filename='loader/load.css')}}></p>
<body>
  
  <div id="loader-bg">
    <div id="loader">
      <img src={{ url_for('static', filename= "loader/loader.gif")}} width="80" height="80"  />
    </div>
    <div id ="wrap">
      <!-- ロード後-->
        <p><audio controls src={{ url_for('static', filename='media/out.mp3')}}></p>
        <p><a href="../../static/media/out.mp3" download="out.mp3" class="h2 text-info">mp3をダウンロード</a></p>
        <p><a href="../../static/media/out.mid" download="out.mid" class="h2 text-info">midiをダウンロード</a></p>
        <p><a href="../../static/media/out.wav" download="out.wav" class="h2 text-info">wavをダウンロード
    </a></p>
      <script src ="/loading.js"></script>
    </div>




<p><a href="{{ url_for('welcome') }}">戻る</a></p>

{% endblock %}
